.breaktime-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    margin-bottom: 1.5rem;
    padding: 0 2rem 2rem 2rem;
    border-radius: 1rem;
    /* background-color: greenyellow; */
    /* background-color: rgb(120, 194, 194); */
    /* background-color: rgb(145, 211, 211); */
    background-color:  #dad2f3;
}

.button-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#break-label{
    color:black;
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

#break-length{
    font-size:1.2rem;
}

