.sessiontime-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 0 2rem 2rem 2rem;
    border-radius: 1rem;
    /* background-color: rgb(145, 211, 211); */
    background-color: #dad2f3;
}

.button-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
#session-label{
    color:black;
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}
#session-length{
    font-size:1.2rem;
}
