body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html,body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 0.8rem;
}

#root {
  margin: 0;
  /* height: 100%;
  width: 100%; */
  display: flex;
  flex-direction: column;
  text-align: center;
  /* backgrounrgb(114, 133, 163)55); */
  /* background-image: linear-gradient(to right, #D8B5FF , #1EAE98); */
  background-color: #fba8a4;
background-image: linear-gradient(315deg, #fba8a4 0%, #dad2f3 74%);
background-repeat: repeat;
}

